*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/*indevisual batton*/
.btn{
}
.btn a{
	text-decoration: none;
	color: #fff;
	background-color: #ffcb0f;
	font-size: 15px;
	border-radius: 8px;
	padding: 8px 12px;
	margin-right: 30px;
	font-weight: bold;
}
/*indevisual batton*/

/*start heder*/
.headertop{
	background-color: #ffcb0f;
	overflow: hidden;
}
.contact-info{
	float: left;
	width: 50%;
	display: inline-flex;
	list-style: none;
	padding-top: 15px;
	padding-bottom: 10px;
}
.contact-info li i{
	padding-right: 15px;
	color: #222222;
}
.social-icon{
	float: right;
	padding-top: 15px;

}
.social-icon i{
	padding-right: 5px;
	color: #222222;
}
.nevigation{
 	background-color: #222533;
 	overflow: hidden;
}
.logo{
	float: left;
	width: 50%;
	padding-top: 35px;
	padding-bottom: 35px;
}
.menu{
	float: right;
	padding-top: 40px;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	display: inline-block;
	padding-left: 30px;
}
.menu ul li a{
	text-decoration: none;
	color: #ffffff;
}
/*end heder*/

/*start banner section*/
.banner{
	background-image: url(img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 878px;
	position: relative;
	z-index: 1;
}
#particles-js{
	height: 878px;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: -1;
}
.banner-content h4{
	font-size: 40px;
	color: #ffffff;
	padding-top: 193px;
}
.banner-content h1{
	font-size: 80px;
	color: #ffffff;
	padding-top: 35px;
}
.banner-content span{
	color: #ffcb0f;
}
.banner-content p{
	font-size: 20px;
	color: #fff;
	padding-top: 35px;
	padding-bottom: 60px;
}
/*end banner section*/

/*start company hear*/
.company{
	overflow: hidden;
}
.com-con{
	width: 50%;
	float: left;
}
.com-con h1{
	font-size: 40px;
	color: #ffcb0f;
	padding-top: 50px;
}
.com-con h3{
	font-size: 26px;
	color: #484848;
	padding-top: 5px;
}
.com-con p{
	font-size: 15px;
	color: #484848;
	padding-top: 37px;
	padding-bottom: 40px;
}
.com-img{
	float: right;
}
/*start company hear*/

/*start choose& company*/
.choose{
	width: 100%;
 	height: 600px;
	background-color: #f2f7fa;
	text-align: center;
}
.choose-up h1{
	font-size: 35px;
	color: #484848;
	padding-top: 70px;
}
.choose-up p{
	font-size: 15px;
	color: #484848;
	padding-top: 20px;
	padding-bottom: 40px;
}
.col4{
  width: 20%;
  height: 300px;
  float: left;
  padding-top: 36px;
  text-align: center;
  margin-right: 58px;
  box-sizing: border-box;
}
.col4 a i{
	background-color: #ffffff;
	padding-top: 46px;
	height: 175px;
	width: 175px;
	font-size: 70px;
	color: #484848;
	border: 6px solid #ffcb0f;
	border-radius: 100px;
	box-shadow: 10px 10px 100px #ffff00;

  box-shadow:
	0 0 0 7px hsl(44.6, 94.6%, 56.5%), 0 0 0 15px hsl(40.3, 100%, 74.3%);
}
.col4 h3{
	padding-top: 10px;
	font-size: 20px;
	color: #484848;
}
.col4 p{
	font-size: 15px;
	color: #484848;
	padding-top: 15px;
}
/*start choose& company*/

/*start servicing*/
.service{
	height: 759px;
}
.service h1{
	text-align: center;
	font-size: 40px;
	color: #484848;
	padding-top: 63px;
	padding-bottom: 25px;
	text-transform: uppercase;
}
.col3{
	width: 30%;
	float: left;
	margin-right: 39px;
	box-sizing: border-box;
}
.col3 h3{
	font-size: 20px;
	color: #484848;
	float: left;
	padding-top: 27px;
}
.col3 p{
	font-size: 15px;
	color: #484848;
	float: left;
	padding-top: 31px;
	padding-bottom: 31px;
}
.col3 img{
}
/*end servicing*/

/*start made love*/
.love{
	background-image: url(img/love.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 930px;
}
.love-up{
	text-align: center;
}
.love-up h1{
	font-size: 40px;
	color: #ffffff;
	padding-top: 90px;
	text-transform: uppercase;
}
.love-up p{
	font-size: 15px;
	color: #ffffff;
	padding-top: 35px;
	padding-bottom: 50px;
}
.love-up ul{
	padding-bottom: 40px;
}
.love-up ul li{
	text-decoration: none;
	display: inline-block;
}
.love-up ul li a{
	text-decoration: none;
	color: #ffffff;
	padding-right: 30px;
}
.love-up ul li a:hover{
	background-color: #282828;
	padding: 12px;
	border-radius: 30px;
}
.love-lef{
	float: left;
}
.col5{
	width: 21%;
	margin-right: 52px;
	float: right;
}
/*start made love*/

/*start coustomer review*/
.coustomer{
	background-image: url(img/coustomer.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
}
.cous-up{
	text-align: center;
}
.cous-up h1{
	font-size: 40px;
	color: #484848;
	padding-top: 100px;
}
.cous-up p{
	font-size: 15px;
	color: #484848;
	padding-top: 40px;
	padding-bottom: 100px;
}
.col6{
	width: 30%;
	float: right;
	margin-right: 10px;
	text-align: center;
}
.col6 p{
	background-color: #e5e5e5;
	height: 200px;
	width: 335px;
	border-radius: 30px;
	padding: 27px;
	text-align: left;
	padding-bottom: 50px;
}

.col6 p:hover{
	background-color: #ffcb0f;
	border-radius: 30px;
}
.col6 img{
	padding-top: 34px;
}
/*end coustomer review*/

/*start footer section*/
.footer{
	background-image: url(img/footer.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 550px;
}
.col2{
	width: 24%;
	float: left;
	margin-right: 11px;
}
.col2 h3{
	font-size: 25px;
	color: #fff;
	padding-top: 85px;
	padding-bottom: 45px;
}.col2 p{
	color: #fff;
	font-size: 13px;
	padding-bottom: 30px;
}
.col2 img{
	padding-top: 15px;
	padding-bottom: 20px;
}
.col2 a i{
	padding-top: 10px;
	height: 40px;
	width: 40px;
	font-size: 20px;
	color: #484848;
	border-radius: 100px;
	background-color: #ffcb0f;
	text-align: center;
}
.col2 ul{
	color: #fff;
}
.col2 ul li a{
	text-decoration: none;
	color: #fff;
}

.col2 li i{
	text-decoration: none;
	color: #fff;
}

.footer2{
	text-align: center;
	color: #fff;
	height: 60px;
	width: 100%;
	padding-top: 20px;
	background-color: #1a1c27;
}
.footer2 span{
	color: #ffcb0f;
}
/*end footer section*/