*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  margin: 0 auto;
  width: 1177px;
}
/*start header*/
.banner{
  height: 1034px;
  width: 100%;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*end header*/

/*start concept-theme*/
.concept-theme{
  padding-bottom: 270px;
}
.content h2{
  font-size: 30px;
  color: #313131;
  padding-top: 70px;
  padding-bottom: 30px;
}
.content p{
  font-size: 15px;
  color: #969595;
  padding-bottom: 25px;
}

.concept .col6{
  width: 14%;
  background-color: #313131;
  height: 160px;
  float: left;
  margin: 15px;
  padding-bottom: 70px;
}

.concept .col6:hover{
  background-color: #a39ac9;
}
/*end concept-theme*/

/*start work procese*/
.work{
  background-color: #f9f9f9;
  height: 680px;
  width: 100%;
  text-align: center;
}
h1{
  text-align: center;
  padding-top: 85px;
  padding-bottom: 35px;
  color: #313131;
  font-size: 30px;
}

.proces .col4{
  width: 22%;
  background-image: url(../img/03_Home_03.jpg);
  background-position: center;
  height: 341px;
  float: left;
  margin: 17px;
  background-color: #fff;
  padding-top: 34px;
}
.proces .col4 h4{
  font-size: 15px;
  color: #232018;
  padding-bottom: 10px;
}
.proces .col4 p{
  font-size: 13px;
  color: #232018;

}
/*end work-procese*/

/*start features*/
.feature{
  background-color: #eb768c;
  height: 100px;
  width: 100%;
  text-align: center;
}
.feature h2{
  font-size: 30px;
  color: white;
  padding-top: 35px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.feature_down{
  height: 471px;
  width: 100%;
  background-color: #232018;
  padding-top: 122px;
}
.features .row3{
  width: 33%;
  float: left;
  padding: 25px;
}
.features .row3 .fa{
  color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #393730;
  padding: 19px;
}
.features .row3 .fa:hover{
  background-color: #31aae2;
}
.features .row3 p{
  color: #969595;
  font-size: 13px;
}
/*end features*/

/*start themes ready builder*/
.themes{
  height: 500px;

}
.themes .img{
  width: 35%;
  float: left;
}
.themes .img img{
  height: 450px;
  width: 200px;
  padding-top: 50px;
}
.themes .imgcontent {
  float: right;
  width: 60%;
  align-items: center;
  padding-top: 81px;
}
.themes .imgcontent h2{
  color: #969595;
  font-size: 31px;
}
.themes .imgcontent p{
  color: #969595;
  font-size: 14px;
  padding-top: 35px;
  padding-bottom: 80px;
}

.themes .imgcontent a{
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #31aae2;
}
.ready{
  height: 500px;
  width: 100%;
  background-color: #f9f9f9;
}
.builderkit{
  height: 400px;
  width: 100%;
  background-color: #334251;
}
/*end themes ready builder*/