


*{ margin: 0px;
   padding: 0px;
   text-decoration: none;

   }

.container{max-width: ;
           margin: 0 auto;
           height: 120px;
           background-color: #c3c3c3;

           }

.banner{ display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
          }

.logo{ font-size: 25px;
       padding: 50px;
       }

.logo a{color: #515151}

.banner ul{ display: flex;
            list-style-type: none;
            width: 400px;
            }

.banner ul li a{ text-decoration: none;
                 color: #515151;
                margin: 10px;
                 display: block;
                 font-size: 20px;
                 }


.banner1{background-color: #c3c3c3;
	     height: 340px;
	     width: ;
	     margin: 0 auto;
	     display: flex;
	     justify-content: space-between;
         }

.banner1 .left{ font-size: 25px;
                flex-wrap: wrap;
                margin: 0 0 0 50px ;
                color: #515151;

               }

.banner1 .right{ width: 40%;
                 height: 300px;
                 background-color: #9f9f9f;
                 margin: 10px 70px; 
             }


.banner1 .right:last-child{
	                       color: #515151; 
	                       align-items: center;
	                       display: flex;
	                       justify-content: center;
	                   }


.content{
         height: 780px;
         width: 1000px ;
         margin: 0 auto;
         align-items: center;}

.content .parent{display: flex;
	             flex-wrap: wrap;
	            justify-content: center;
	        }



.content .chaild{height: 300px;
	            width: 300px;
	            background-color: #c3c3c3;
	            margin-top: 40px;
	            margin-left: 30px;
	            display: flex;
	            justify-content: center;
	            align-items: center;
	            font-size: 30px;
	            color: #515151;
	        }


.content .chaild:nth-child(7){width: 1260px;
	                          display: flex;
	                          height: 100px;
	                          margin-bottom: 30px;
                            }


.footer{   max-width: ;
           margin: 0 auto;
           height: 100px;
           background-color: #c3c3c3;
       }

.footerleft ul{ display: flex;
                list-style-type: none;
                margin-top: 100px;

           }



.footerleft ul li{text-decoration: none;
                    margin: 15px;
                    display: block;

                  }
.footerleft ul li a{ color: #515151;
                     font-size: 20px;
                        }


.footerright{ text-align: right;
              margin-right: 50px;
              font-size: 20px;
              color: #515151;  }


