*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	margin: 0 auto;
	width: 1200px;
}

.logo{
	float: left;
}
.logo h2{
	color: #637f83;
	padding: 35px 15px;
}
.navigation{
	overflow: hidden;
}
.navigation li a{
	float: right;
    color: #637f83;
    display: block;
    padding: 35px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation ul {
    list-style: outside none none;
    text-align: right;
}
.navigation ul li {
    display: inline-block;
}
/*end header*/

.banner {
  height: 820px;
  background: url("img/img1.jpg") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:  #637f83;
  text-align: center;
  
}
.banner h1{
	text-align: center;	
	padding-top: 240px;
	padding-bottom: 10px;
	font-size: 50px;
}
.banner p{
	text-align: center;
	font-size: 16px;	
}

.banner a {
    background: #637f83 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    text-decoration: none;
}
/*end banner*/


.content {
  overflow: hidden;
  margin-top: 25px;
  padding-bottom: 70px;
}

.item {
  width: 33%;
  float: left;
  min-height: 171px;
  overflow: hidden;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.itm img{
  
}
.contentp {
  color: #959494;
  /*! width: 75%; */
  /*! float: left; */
}
.contentp h3{
	color: #637f83;
    margin-bottom: 6px;
}

.video{
	margin-top: 20px;
	text-align: center;
}
.video h1{
	font-size: 30px;
	color:  #637f83;
	padding-top: 70px;
}
.video p{
	padding-top: 15px;
	font-size: 16px;
	color:  #637f83;
}
.video img{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.work{
	padding-bottom: 60px;
}
.work h1{
	padding: 60px;
	text-align: center;
	font-size: 40px;
	color: #637f83;
}

.work img{
	text-align: center;
	padding-right: 34px;
}

.subscribers{
	padding-top: 30px;
	height: 300px;
	width: 100%;
	background-color: #f5f5f5;
	text-align: center;
	color: #637f83;
}
.subscribers a{
    border: 3px solid #637f83;
    border-radius: 30px;
    font-size: 20px;
    color: #637f83;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;

}
.subscribers h1{
	padding-top: 50px;
	font-size: 30px;	
}

.subscribers p{
	padding-top: 10px;
	font-size: 14px;
}





.media{
	text-align: center;
	padding: 70px;
}

.media .fa {
	font-size: 28px;
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 2px solid gray;
	margin: 5px;
	padding-top: 9px;
}
.media .fa:hover{
	background-color: #5f9ea0;
}





/*footer sercton*/
#footer{
	height: 288px;
	background-color: cadetblue;
	padding-top: 50px;
	color: #fff;
}
#footer .footer-box{
	float: left;
	width:25%;	
}

#footer .footer-box ul{
	list-style-type: none;
	display: block;
	padding-top: 10px;
	font-size: 14px;
}

#footer .footer-box ul li{
	padding-top: 5px;
}
#footer .footer-box ul li a{
	color: #fff;
}
