*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/*start header*/
header{
	background-image: url(img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 965px;
}
.header-top{
	background: #4a3e35;
    height: 76px;
    display: flex;
    opacity: 0.5;
    justify-content: flex-start;
}
.logo{
	float: left;
	padding-top: 10px;
}
.logo img{
	height: 50px;
	width: 90px;
}
.menu{
	float: left;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	display: inline-block;
	padding: 25px;
}
.menu ul li a{
	text-decoration: none;
	color: #ffffff;
}
.social-icon{
	float: right;
	padding-top: 25px;
}
.social-icon a{
	padding-right: 20px;
	color: #ffffff;
}
/*end header*/

/*start banner*/
.banner-con{
	position: absolute;
	text-align: left;
	top: 100px;
	left: 400px;

}
.banner h1{
	font-size: 60px;
	color: #ffffff;
	padding-top: 277px;

}
.banner h3{
	font-size: 36px;
	color: #ffffff;
	padding-top: 15px;
}
.banner p{
	font-size: 14px;
	color: #ffffff;

	padding-top: 20px;
}
.btn{
	padding-top: 50px;

}
.btn a{
	text-decoration: none;
	color: orange;
	background-color: #fff;
	font-size: 15px;
	padding: 8px 12px;
	margin-right: 30px;
	font-weight: bold;
}
.play{
	height: 80px;
	width: 100%;
	background-color: #363636;
}
.play .right{
	width: 80%;
	float: right;
}
.left{
	float: left;
}
.right{
	float: left;
	padding: 22px;
}
.right img{
	padding-right: 22px;
}
/*start banner*/

/*start membar*/
.membar{
	background-color: #e28f25;
	height: 190px;
	width: 100%;
	text-align: center;
}
.membar h1{
	padding-top: 45px;
	text-align: center;
}
.mem-btn{
	padding-top: 30px;
}
.mem-btn a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	padding: 8px 12px;
	margin-right: 30px;
	font-weight: bold;
	border: 2px solid #fff;
}
/*end membar*/

/*start event*/
.event{
	height: 803px;
	width: 1170px;
	border: 1px solid gray;
}
h6{
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 50px;
}
h6 span{
	color: #e39434
}
.left{
	width: 583px;
	float: left;
}
.left h3{
	padding-top: 27px;
	font-size: 30px;
}
.left h4{
	font-size: 22px;
	color: #e28f25;
}
.left h5{
	font-size: 20px;
}
.left p{
	padding-top: 30px;
	font-size: 14px;
	padding-bottom: 15px;
	color: #a1a1a1;
}
.con{
	padding-left: 30px;
}
.left a{
	text-decoration: none;
    height: 40px;
    width: 60px;
    border: 1px solid #e28f25;
    padding: 5px;
    color: black;
}
.right{
	float: right;
	width: 585px;
}
.right h3{
	padding-top: 10px;
	font-size: 30px;
}
.right h4{
	font-size: 22px;
	color: #e28f25;
}
.right h5{
	font-size: 20px;
}
.right p{
	padding-top: 30px;
	padding-bottom: 17px;
	font-size: 14px;
	color: #a1a1a1
}
.right a{
	text-decoration: none;
    height: 40px;
    width: 60px;
    border: 1px solid #e28f25;
    padding: 5px;
    color: black;
}
.right img{
	padding-top: 20px;
}
/*end event*/

/*start latest news*/
.latest-news img{
	width: 1170px;
}
/*end latest news*/

/*start blog post*/
.blog-post{
	background-image: url(img/BMF-Home1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 960px;
}
.blog-post h1{
	text-align: center;
	color: #fff;
	padding-top: 90px;
}
.blog-post img{
	padding-left: 853px;
	padding-top: 11px;
	padding-bottom: 194px;
}
.blog-post span{
	color: #eea344;
}
.col1{
	background-image: url(img/blog1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
	width: 30%;
	float: left;
	margin-right: 39px;
	box-sizing: border-box;
}
.col1 h1{
	font-size: 24px;
	padding-bottom: 3px;
	padding-top: 60px;
}
.col1 h3{
	font-size: 14px;
	text-align: center;
	color: white
}
.col1 span{
	color: #eea344;
}
.col1 p{
	font-size: 14px;
	color: white;
	text-align: center;
	padding-top: 30px;
}
.col-btn{
	text-align: center;
	padding-top: 40px;
}
.col-btn a{
	text-decoration: none;
    height: 40px;
    width: 60px;
    border: 1px solid #e28f25;
    padding: 5px;
    color: white;
}
.col2{
	border: 1px solid #eea344;
	width: 30%;
	float: left;
	margin-right: 39px;
	box-sizing: border-box;
	height: 320px;
}
.col2 h1{
	font-size: 24px;
	padding-bottom: 3px;
	padding-top: 60px;
}
.col2 h3{
	font-size: 14px;
	text-align: center;
	color: white;
	padding-bottom: 30px;
}
.col2 span{
	color: #eea344;
}
.col2 p{
	font-size: 14px;
	color: white;
	text-align: center;
	padding-bottom: 10px;
}
.col3{
	background-image: url(img/blog2.jpg);
	width: 30%;
	float: left;
	margin-right: 39px;
	box-sizing: border-box;
	height: 320px;
}
.col3 h1{
	font-size: 24px;
	padding-bottom: 3px;
	padding-top: 60px;
}
.col3 h3{
	font-size: 14px;
	text-align: center;
	color: white
}
.col3 span{
	color: #eea344;
}
.col3 p{
	font-size: 14px;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 12px;
}
/*end blog post*/

/*start about BMF*/
.about{
	height: 756px;
	width: 100%;
}
.about h1{
	text-align: center;
	padding-top: 60px;
	color: #a1a1a1;
}
.about span{
	color: #eea344;
}
.about p{
	float: right;
	width: 70%;
	padding-top: 70px;
	color: #a1a1a1;
}
.about img{
	height: 570px;
	width: 300px;
	padding-top: 91px;
}
.about-btn{
	width: 70%;
	float: right;
}
.about-btn a{
	text-decoration: none;
    height: 40px;
    width: 60px;
    border: 1px solid #e28f25;
    padding: 5px;
    color: #a1a1a1;
}
/*end about BMF*/

/*start footer top*/
.footer{
	background-image: url(img/footer.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 744px;
}
.footer-top {
	padding-top: 40px;
}
.footer-logo img{
	height: 60px;
	width: 110px;
	float: left;
}
.footer-icon{
	float: right;
} 
.footer-icon a i{
	padding-top: 15px;
	height: 50px;
	width: 50px;
	font-size: 20px;
	color: white;
	border-radius: 100px;
	text-align: center;
	border: 1px solid #eea344;
}
/*end footer top*/

/*start footer down*/
.footer-down{
	background-color: #e28f25;
	height: 122px;
}
.footer-down p{
	padding-top: 50px;
	color: white;
	font-size: 18px;
}
/*start footer down*/