h1{
	color: #23bb98;

}
hr{
	border: 1.5px solid #23bb98;
}
.bg{
	background-image: url(bg2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.botom{
	background-color: #23bb98;
	text-align: center;
	height: 50px;
	width: 100%;
}